* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(20, 20, 20);
}

@font-face {
    font-family: "Franklin Gothic Demi Regular";
    src: url("fonts/Franklin-Gothic-Demi-Regular.woff");
}

#state-box {
    position: absolute;
    top: 2%;
    right: 2%;
    text-align: right;
    z-index: 500;
    color: white;
    width: 15vw;
    font-family: "Franklin Gothic Demi Regular", sans-serif;
}

#round-time-box {
    font-size: 5vw;
    text-shadow: -6px 4px #00C3B6;
}

#round-num-box {
    font-size: 1.4vw;
}

#freeze-box {
    font-size: 1.2vw;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(20, 20, 20);
    z-index: 1000;
    pointer-events: none;

    transition: opacity 500ms linear;
    -webkit-transition: opacity 500ms linear;
    -moz-transition: opacity 500ms linear;
    -o-transition: opacity 500ms linear;
}

.overlay-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.overlay-text {
    white-space: nowrap;
    color: white;
    font-family: "Franklin Gothic Demi Regular", sans-serif;
}

.overlay-text-big {
    font-size: 100px;
    text-shadow: -6px 4px #00C3B6;
}

.overlay-text-small {
    overflow: hidden;
    font-size: 40px;
}

.overlay-text-first {
    animation: small-text-appear linear 2.6s;
}

.overlay-text-second {
    animation: small-text-appear linear 3s;
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid #00C3B6;
    white-space: nowrap;
    animation: typing 1.5s steps(30) 200ms normal both, blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #00C3B6; }
}

@keyframes small-text-appear {
    from { opacity: 0 }
    60% { opacity: 0 }
    to { opacity: 100% }
}